﻿@inject Microsoft.AspNetCore.Authentication.IAuthenticationSchemeProvider schemeProvider

@model task_journal.Models.ViewModels.LoginModel
@{
    ViewData["Title"] = "Авторизация";
}



@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<form class="form" method="post" novalidate>
    <h2 class="form-heading">Авторизация</h2>
    <label for="inputEmail" class="sr-only">Имя пользователя</label>
    <input type="email" asp-for="Name" id="inputEmail" class="form-control first" placeholder="Имя пользователя" required autofocus />
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" asp-for="Password" id="inputPassword" class="form-control last" placeholder="Пароль" required />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
</form>

<hr />
