﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/css/Site.css" rel="stylesheet" />
</head>
<body>
    
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <div><h5>Пользователь: @User.Identity.Name</h5></div>
        }
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="~/alltasks"><h2>Перейти к заявкам</h2></a></li>
                            <li>

                            </li>
                        }
                        else
                        {
                            //     <li><a asp-controller="Auth" asp-action="LogIn"><h1>Страница входа в систему</h1></a></li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {

                        <form align="right" method="post" asp-controller="Auth" asp-action="LogOut">
                            <a href="javascript:document.forms[0].submit()"><h5>Выйти из системы</h5></a>
                        </form>
                    }
                </div>
            </div>

        </nav>
        @RenderBody()

    </div>
</body>
</html>