﻿@using task_journal.Models
@using task_journal.Controllers
@using Microsoft.AspNetCore.Mvc

@{

    ViewData["Title"] = "Список заявок";
}
<script src="~/jquery-2.2.2min.js"></script>

<form class="out-task-buttons">
    <kekput type="button" id="createTaskButton" class="btn btn-primary control-button" onclick="openNewTask()"><h2>Создать заявку</h2></kekput>
    <kekput type="button" id="openTasksButton" class="btn btn-primary control-button" onclick="toggleTasks()"><h2>Открытые заявки</h2></kekput>
</form>
<form id="authForm" name="authorizationForm"></form>
<form class="filter-form">
    <h2>Фильтр</h2>
    <div class="form-group">
        <label>Исполнитель:</label>
        <select id="executorFilter" name="executorSelection" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Объект:</label>
        <select id="placeFilter" name="placeSelection" class="form-control"></select>
    </div>
    <input type="button" name="submit-filter" class="btn-primary btn" onclick="getFilteredTask()" value="Подтвердить" />
    <br />
    <br />
    <br />

</form>
<form name="tableForm" class="table-base">
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th type="button" width="9%" onclick="Sort('date')">Дата</th>
                <th type="button" width="11%" onclick="Sort('place')">Место</th>
                <th type="button" width="15%" onclick="Sort('theme')">Тема</th>
                <th type="button" width="45%" onclick="Sort('text')">Текст</th>
                <th type="button" width="10%" onclick="Sort('executor')">Исполнитель</th>
                <th type="button" width="13%" onclick="Sort('author')">Автор</th>
                <th type="button" width="7%" onclick="Sort('condition')">Состояние</th>

            </tr>
        </thead>
        <tbody id="taskTableBody"></tbody>
    </table>
</form>
<footer>
    <p class="source-org copyright">© 2018 AP - Anton Polovnikov</p>
</footer>
<script>
    var onlyOpened = false;
    var openedTasksButton = document.getElementById("openTasksButton");
    if (!onlyOpened)
        openedTasksButton.innerHTML = "<h2>Только открытые</h2>";
    else
        openedTasksButton.innerHTML = "<h2>Все заявки</h2>";

    var mainTaskArray = [];
    function openNewTask() {
        open("newtask", "_self");
    }
    function toggleTasks() {
        onlyOpened = !onlyOpened;
        if (!onlyOpened)
            openedTasksButton.innerHTML = "<h2>Только открытые</h2>";
        else
            openedTasksButton.innerHTML = "<h2>Все заявки</h2>";
        getFilteredTask();

    }
    GetTasks("date", "down");
    var direction = "up";
    function Sort(type) {
        if (direction == "up")
            direction = "down";
        else
            direction = "up";
        GetTasks(type, direction);
    }

    var row = function (task) {
        var taskCondition;
        task.date = parseDate(task.date);
        if (task.isClosed >= 1)
            taskCondition = "Закрыта";
        else
            taskCondition = "Открыта";
        return "<tr class='workingRow' id = '" + task.id + "' > <td onclick='rowClicked(" + task.id + ")'>" + task.date + "</td> <td onclick='rowClicked(" + task.id + ")'>" +
            task.place + "</td> <td onclick='rowClicked(" + task.id + ")'>" + task.theme.substring(0, 50) + "</td> <td onclick='rowClicked(" + task.id + ")'>" + task.text.substring(0, 150) + "</td> " +
            "<td onclick='rowClicked(" + task.id + ")'>" + task.executor + "</td> <td onclick='rowClicked(" + task.id + ")'>" + task.author + "</td> " +
            "<th> " + taskCondition + "  " + getAction(task) + "</td> </tr > ";
    }

    function rowClicked(id) {
        open("task/" + id, "_self");

    }

    function parseDate(date) {
        var newDate = "";
        var i;
        for (i = 0; i < date.length; i++) {
            if (date[i] == 'T') {
                newDate += ' ';
                i++;
                break;
            } else
                newDate += date[i];
        }

        for (i; i < date.length; i++) {
            if (date[i] == '.')
                break;
            else
                newDate += date[i];
        }
        return newDate;
    }

    function getAction(task) {
        if (task.isClosed >= 1) {
            return "<input type='button' class='actionLink btn-primary btn' onclick='changeCondition(" + task.id + ")' data-id='" + task.id + "' value='Открыть'></input>";
        } else
            return "<input type='button' class='actionLink btn-primary btn' onclick='changeCondition(" + task.id + ")' data-id='" + task.id + "' value='Закрыть'></input>";
    }
    function changeCondition(id) {

        $.ajax({
            url: "/api/targets/" + id,
            type: "PUT",
            success: function () {
                var rows = document.getElementsByClassName("workingRow");
                var task = getTask(id);
                for (var i = 0; i < rows.length; i++) {
                    if (rows[i].getAttribute("id") == id) {
                        rows[i].outerHTML = row(task);
                    }
                }
            }
        });

    }
    function GetTasks(sorting, direction) {

        $.ajax({
            url: "/api/targets/" + sorting + "/" + direction,
            type: "GET",
            contentType: "application/json",
            success: function (tasks) {
                $("#taskTableBody").empty();
                var rows = "";
                mainTaskArray = [];
                $.each(tasks, function (index, task) {
                    rows += row(task);
                    mainTaskArray[index] = task;
                });


                $("table tbody").append(rows);
                getFilteredTask();
            },
            error: function () {
            }
        });
    };
    function getTask(id) {
        var task;
        $.ajax({
            url: "/api/targets/task_id/" + id,
            type: "GET",
            async: false,
            contentType: "application/json",
            success: function (tasks) {
                task = tasks;
                for (var i = 0; i < mainTaskArray.length; i++)
                    if (mainTaskArray[i].id == task.id) {
                        mainTaskArray[i] = task;
                        break;
                    }
            },
            error: function () {
            }
        });
        return task;
    }
    var executorSelection = document.getElementById("executorFilter");
    GetExecutors(executorSelection);
    var placeSelection = document.getElementById("placeFilter");
    GetPlaces(placeSelection);

    function getFilteredTask() {
        var executor = executorSelection.value;
        var place = placeSelection.value;
        var newTaskArray = [];
        var k = 0;
        if (executor != 0 && place == 0) {
            for (var i = 0; i < mainTaskArray.length; i++) {
                if (mainTaskArray[i].executor == executor)
                    newTaskArray[k++] = mainTaskArray[i];
            }
        } else if (executor == 0 && place != 0) {
            for (var i = 0; i < mainTaskArray.length; i++) {
                if (mainTaskArray[i].place == place)
                    newTaskArray[k++] = mainTaskArray[i];
            }
        } else if (executor != 0 && place != 0) {
            for (var i = 0; i < mainTaskArray.length; i++) {
                if (mainTaskArray[i].place == place && mainTaskArray[i].executor == executor)
                    newTaskArray[k++] = mainTaskArray[i];
            }
        }
        else newTaskArray = mainTaskArray;
        var finalArray = [];
        k = 0;
        if (onlyOpened)
            for (var i = 0; i < newTaskArray.length; i++) {
                if (newTaskArray[i].isClosed < 1)
                    finalArray[k++] = newTaskArray[i];
            }
        else
            finalArray = newTaskArray;
        var rows = "";
        for (var i = 0; i < finalArray.length; i++) {
            rows += row(finalArray[i]);
        }
        $("#taskTableBody").empty();
        $("table tbody").append(rows);
    }

    function GetExecutors(execSelection) {
        var executors;
        $.ajax({
            url: "/api/options/executors",
            type: "GET",
            success: function (data) {
                executors = data;
                for (var i = 0; i < executors.length; i++) {
                    var executorName = document.createElement("option");
                    executorName.appendChild(document.createTextNode(executors[i].name));
                    executorName.setAttribute("value", executors[i].name);
                    execSelection.appendChild(executorName);
                }
                var lastExec = document.createElement("option");
                lastExec.appendChild(document.createTextNode("Любой"));
                lastExec.setAttribute("value", "0");
                lastExec.setAttribute("selected", true);

                execSelection.appendChild(lastExec);
            }
        });
    }

    function GetPlaces(placeSelection) {
        $.ajax({
            url: "/api/options/places",
            type: "GET",
            success: function (places) {
                for (var i = 0; i < places.length; i++) {
                    var placeName = document.createElement("option");
                    placeName.appendChild(document.createTextNode(places[i].name));
                    placeName.setAttribute("value", places[i].name);
                    placeSelection.appendChild(placeName);
                }
                var lastPlace = document.createElement("option");
                lastPlace.appendChild(document.createTextNode("Любой"));
                lastPlace.setAttribute("value", "0");
                lastPlace.setAttribute("selected", true);

                placeSelection.appendChild(lastPlace);
            }
        });
    }
</script>
