﻿
@model TaskModel
@using task_journal.Models.ViewModels
@using task_journal.Models
@using System.Linq
@using System.Security.Claims
@{

    var target = Model;
    ViewData["Title"] = "Заявка №" + Model.Id.ToString();
    var places = ViewBag.Places;
    var comments = ViewBag.Comments;

    if (!ViewData.ModelState.IsValid)
    {
        foreach (var val in ViewData.ModelState.Values)
        {

            foreach (var error in val.Errors)
            {
                <div>@error.ErrorMessage</div>
                <div>@error.Exception</div>
            }
        }
        return;
    }
    Model.Theme = Model.Theme.Trim();
    Model.Text = Model.Text.Trim();
    Model.Place = Model.Place.Trim();
    Model.Executor = Model.Executor.Trim();

    string selectedPlace = "";
    if (ViewBag.Message != null)
    {
        <div><h1>Изменения сохранены</h1></div>
    }
}

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}
@{

    @if (!ViewData.ModelState.IsValid)
    {
        <div asp-validation-summary="All" class="alert alert-danger"></div>
    }

    if (User.IsInRole(Roles.Chief) || User.Identity.Name.Contains(Model.Executor) || User.Identity.Name.Contains(Model.Author))

    {
        <form class="new-form" method="post" novalidate>

            <div class="form-group">
                <label for="taskPlace">Место: </label>
                <select asp-for="Place" id="placeSelection" maxlength="30" class="form-control" required>
                    @foreach (var option in places)
                    {

                        if (option.Name.Contains(Model.Place))
                        {

                            <option value="@option.Name" selected="selected">@option.Name</option>
                            selectedPlace = option.Name;
                            break;
                        }
                    }
                    @foreach (var option in places)
                    {
                        if (!(option.Name.Contains(selectedPlace)))
                        {
                            <option value="@option.Name">@option.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="taskTheme">Тема: </label>
                <input type="text" asp-for="Theme" maxlength="150" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="taskText">Содержимое: </label>
                <textarea type="text" asp-for="Text" maxlength="1000" class="form-control" rows="10" required></textarea>

            </div>
            <div class="form-group">
                <label for="taskExecutor">Исполнитель:</label>
                <div name="taskExecutor">@Model.Executor</div>
            </div>
            <div class="form-group">
                <label for="taskExecutor">Автор:</label>
                <div name="taskAuthor">@Model.Author</div>
            </div>
            <div class="panel-body">
                <input type="submit" class="btn btn-sm " value="СОХРАНИТЬ ИЗМЕНЕНИЯ" />
            </div>
        </form>

    }
    else
    {
        <div class="new-form" name="displayForm">
            <div class="form-group">
                <label for="taskPlace">Место: </label>
                <label id="placeSelection" maxlength="30" name="taskPlace" class="form-control">@Model.Place</label>
            </div>
            <div class="form-group">
                <label for="taskTheme">Тема: @Model.Theme</label>
            </div>
            <div class="form-group">
                <label for="taskText">Содержимое: </label>
                <textarea maxlength="3000" class="form-control" name="taskText" rows="10" required readonly>@Model.Text</textarea>
            </div>
            <div class="form-group">
                <label for="taskExecutor">Исполнитель</label>
                <div id="executorSelection" name="taskExecutor">@Model.Executor</div>
            </div>
        </div>
    }
    <br />
    <br />
    <br />

    <form asp-action="NewComment" method="post">
        <div class="form-group">
            <label>Новый комментарий: </label>
            <input type="text" asp-for="NewestComment" maxlength="150" class="form-control" required />
        </div>
        <div class="panel-body">
            <input type="submit" class="btn btn-sm " value="ОТПРАВИТЬ КОММЕНТАРИЙ" />
        </div>
    </form>

    if (comments.Count == 0)
    {
        <div><h2>Комментариев нет</h2></div>
    }
    else
    {
        <table class="table-condensed">
            <thead><tr><th></th><th>Дата</th><th>Автор комментария</th><th>Текст</th></tr></thead>
            @foreach (var comment in comments)
            {
                <tr>
                    <td>
                        @if (!(!(comment.Author == (User.Claims.First(e => e.Type == ClaimTypes.Name).Value))
                      && !User.IsInRole(Roles.Chief) && !User.IsInRole(Roles.Executor)))
                        {
                            <a href="alltasks/remove/@target.Id/@comment.Id">X</a>
                        }
                        else
                        {
                            <a> </a>
                        }
                    </td>

                    <td>@comment.Date.ToShortDateString()  @comment.Date.ToShortTimeString()</td>
                    <td>@comment.Author</td>
                    <td>@comment.Text</td>
                </tr>
            }
        </table>
    }
    <script>
        function RemoveComment() {

        }
    </script>

}
