﻿@{
    ViewData["Title"] = "Журнал заявок. Главная страница";
}
<div class="jumbotron">
    <h1>Добро пожаловать! Пользователь: @(User.Identity.IsAuthenticated ? User.Identity.Name : "Аноним")</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" asp-controller="Auth" asp-action="LogOut">
            <a href="javascript:document.forms[0].submit()" class="btn btn-lg btn-primary">Выход</a>
        </form>
    }
    else
    {
        <p>
            <a asp-controller="Auth" asp-action="LogIn" class="btn btn-lg btn-primary">Войти</a>
        </p>
    }
</div>