﻿@{
    ViewData["Title"] = "Пользователь";
}
@using System.Security.Claims;
<div class="jumbotron">
    <h1>User Information</h1>
    <p>
        <div>
            <label>Добро пожаловать, </label> <label>@User.Identity.Name </label>
            <label>Роль: </label> <label>@User.Claims.First(e => e.Type == ClaimTypes.Role).Value</label>
        </div>
    </p>

    <form method="post" asp-controller="Auth" asp-action="LogOut">
        <a href="javascript:document.forms[0].submit()" class="btn btn-lg btn-primary">Выход</a>
    </form>
</div>
