﻿
@{
    ViewData["Title"] = "Новая Задача";
    
}
@model task_journal.Models.ViewModels.NewTaskModel

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<script src="~/jquery-2.2.2min.js"></script>
<form class="new-form" method="post" novalidate>
    <div class="form-group">
        <label for="taskPlace">Место: </label>
        <select  asp-for="Place" class="form-control" required>
            @foreach(var place in ViewBag.Places)
            {
                <option value="@place.Name">@place.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="taskTheme">Тема: </label>
        <input asp-for="Theme" type="text" maxlength="150" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="taskText">Содержимое: </label>
        <textarea asp-for="Text"  maxlength="300" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="taskExecutor">Исполнитель</label>
        <select asp-for="Executor"class="form-control" required>
            @foreach(var executor in ViewBag.Executors)
            {
                <option value="@executor.Name">@executor.Name</option>
            }
        </select>
    </div>
    <div class="panel-body">
        <button type="submit" class="btn btn-lg btn-primary btn-block" value="Отправить">Отправить</button>
    </div>
</form>